*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
.bgimg{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(27deg,rgba(198, 204, 194, 0.74) 50%,rgba(238, 243, 225, 0.644) 50%);

}

.center_div{
    width:350px;
    height:400px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-image: linear-gradient(27deg,rgba(235, 241, 235, 0.836) 50%,rgba(209, 216, 205, 0.74) 50%);
    box-shadow:0 1px 6px rgba(226, 233, 228, 0.849),0 1px 4px rgba(235, 241, 235, 0.836);

}
#pro{

    width:40%;
    height:140px;
    border-radius:50% ;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-25%;
}
h2{ margin-top:3%;
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #deebde;
}
.inputbox{
    width:80%;
    height:30px;
    display:block;
    margin:auto;
    padding:0 10px;
}
::placeholder{
letter-spacing: 2px;
color:black;
text-align: center;
}
 .button{    width:40%;
    height:20px;
    display:block;
    text-align: center;
    margin:auto;
    margin-top:25px;
    border:none;
    color:black;
    padding-top:10px;
    background-color: #d2dfd3;
    text-decoration: none;
} 
.forgot{
    width:40%;
    height:30px;
    display:block;
    margin:auto;
}
.forgot{

    text-transform:uppercase;
    font-size:12px;


}
    
